<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="work.mapper.CompanyMapper">

    <resultMap id="company" type="company">
        <result column="recruitmentuser_id" property="recruitmentuserId"></result>
    </resultMap>

    <select id="getAllCompany"  resultMap="company">
        select * from company
        <if test="param3 != null">
            where recruitmentuser_id = #{param3}
        </if>
        limit #{param1},#{param2}
    </select>

    <insert id="addCompany" parameterType="company">
        insert into company values(#{id},#{name},#{address},#{job},#{salary},#{detail},#{recruitmentuserId})
    </insert>

    <delete id="deleteCompany" parameterType="list">
        delete from company where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateCompany" parameterType="company">
        update company set
        name=#{name},
        address=#{address},
        job=#{job},
        salary=#{salary},
        detail=#{detail},
        recruitmentuser_id=#{recruitmentuserId}
        where id = #{id}
    </update>

    <select id="searchCompany"  resultMap="company">
        select * from company
        <where>
            <if test="name != null and name != '' ">
                name like CONCAT('%', #{name}, '%')
            </if>
            <if test="address != null and address != '' ">
                and address like CONCAT('%', #{address}, '%')
            </if>
            <if test="job != null and job != '' ">
                and job like CONCAT('%', #{job}, '%')
            </if>
            <if test="salary1 != null and salary1 != '' ">
                and salary &gt;= #{salary1}
            </if>
            <if test="salary2 != null and salary2 != '' ">
                and salary &lt;= #{salary2}
            </if>
        </where>
        limit #{start},#{end}
    </select>


</mapper>
