<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="work.mapper.JobSeekersUserMapper">


    <insert id="addUser" parameterType="jobseekersuser">
        insert into jobseekers values(#{id},#{username},#{password},#{name},#{gender},#{age},#{permissions})
    </insert>

    <delete id="deleteJobSeekers" parameterType="list">
        delete from jobseekers where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateJobSeekers" parameterType="jobseekersuser">
        update jobseekers set
        username=#{username},
        password=#{password},
        name=#{name},
        gender=#{gender},
        age=#{age}
        where id = #{id}
    </update>

    <select id="getAllJobSeekers" parameterType="int" resultType="jobseekersuser">
        select * from jobseekers limit #{start},#{end}
    </select>

</mapper>
